body {
    background-color: #d9ac35;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: whitesmoke;
}

.name {
    color: black;
}

a {
    color:  whitesmoke;
    font-size: 23px;
}
